
body {
  font-family: arial;
}

/* APP colors */
paper-toolbar, paper-fab, app-toolbar {
  background-color: #009688 !important;
  color: white;
}

#lefthead app-toolbar {
  background: transparent !important;
}

#lefthead {
  background-image: url("../assets/robots-bg.jpg");
}
 /* Left Tool Bar */
paper-toolbar .top
app-toolbar .top {
  z-index: 1;
  font-size: 1.4em;
}
#coverimage,
#navheader {
  height: 191px;
  top: 0;
}
#middle img {
  width: 60px;
  height: 60px;
  border: solid 3px rgba(0, 234, 255, 0.32);
  border-radius: 50%;
}
#middle div {
  padding-left: 10px;
}
#bottom {
  padding: 0px;
}
#bottom label {
  color: rgba(223, 255, 0, 0.76);
}

vaadin-combo-box input,
vaadin-combo-box iron-icon {
  color: white !important;
  fill: white !important;
}

/* Left Menu */
paper-icon-item {
  display: block;
  padding: 5px;
}
paper-icon-item iron-icon {
  width: 56px !important;
}
/* */
paper-spinner-lite {
  width: 18px !important;
  height: 18px !important;
  margin: 8px;
}
.paper-spinner-lite {
  border-color: white !important;
}
/* Send message Form */
.write {
  padding: 0px 20px 5px 20px;
}

/* Settings dialog */
paper-dialog {
  padding: 5px;
  min-width: 500px;
}
paper-dialog paper-button {
  padding: 10px !important;
  color: black;
}
paper-dialog paper-input {
  width: 80%;
  margin-bottom: 40px;
}

/* Misc */
paper-input-container {
  padding: 0px;
}

/* Badge */
paper-badge {
  margin: 5px -10px;
}

#gridcontainer {
  padding-top: 64px;
}

td.vaadin-grid, th.vaadin-grid {
  padding: 0px 8px 0px 3px !important;
  height: 30px;
  overflow: visible !important;
}
td.vaadin-grid img {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-image: url("robots-bg.jpg");
}

td:nth-child(2).vaadin-grid {
  color: grey;
  font-size: 70%;
}
td:nth-child(3).vaadin-grid {
  width: 20px;
  word-wrap: break-word;
}

/* tima-ago element */
time-ago iron-icon {
  width: 20px !important;
  height: 20px !important;
}
time-ago > div {
  font-size: 8px;
  color: grey;
  margin-left: -5px;
}
